.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  max-width: none;
}

.section.header {
  max-width: 360px;
}

.section.banner {
  padding-top: 10px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  max-width: none;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.div-block.search-bar {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-2 {
  position: relative;
  left: 85px;
  top: 0px;
  right: auto;
}

.image-2.missing {
  left: 70px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-3 {
  border-radius: 10px;
  box-shadow: 7px 7px 20px 0 rgba(3, 122, 214, 0.3);
}

.paragraph {
  margin-top: 20px;
  font-family: Muli, sans-serif;
  color: #676767;
  font-size: 15px;
  line-height: 24px;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #aacaeb;
}

.section-3 {
  max-width: 360px;
}

.container {
  max-width: 360px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.container.white {
  background-color: #fff;
}

.div-block-3 {
  padding-right: 20px;
  padding-left: 30px;
}

.section-4 {
  margin-top: 0px;
}

.section-4.list {
  margin-top: 15px;
  padding: 24px 12px;
  background-color: #f3faff;
}

.grid {
  margin-bottom: 20px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 87px;
  padding-top: 0px;
  padding-left: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
}

.div-block-4.company {
  background-color: transparent;
  box-shadow: none;
}

.div-block-4.followed {
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  font-family: Muli, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.text-block-2 {
  font-family: Muli, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-weight: 400;
}

.div-block-6 {
  width: 147px;
  padding-left: 12px;
}

.button {
  position: relative;
  margin-left: 0px;
  border-radius: 3px;
  background-color: #0379d6;
  font-family: Muli, sans-serif;
  font-size: 12px;
}

.section-1 {
  margin-top: 0px;
}

.section-1.list {
  margin-top: 30px;
  padding: 30px 12px 50px;
  background-color: #f0f9ff;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-3 {
  font-family: Muli, sans-serif;
  font-size: 16px;
  text-align: center;
}

.grid-2 {
  grid-column-gap: 0px;
  -ms-grid-columns: 0.5fr 2fr 1.25fr;
  grid-template-columns: 0.5fr 2fr 1.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.text-block-4 {
  font-family: Muli, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bold-text {
  font-family: Muli, sans-serif;
  color: #047ad7;
  font-size: 13px;
}

.grid-4 {
  grid-column-gap: 7px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-11 {
  width: 107px;
  height: 107px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.search-list {
  width: 360px;
  max-width: none;
  margin-top: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
  padding-left: 12px;
}

.div-block-12 {
  text-align: center;
}

.div-block-13 {
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.grid-5 {
  grid-column-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  font-family: Muli, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-6 {
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-block-6 {
  font-family: Muli, sans-serif;
  font-weight: 700;
}

.div-block-18 {
  padding: 12px 15px 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
}

.text-block-7 {
  font-family: Muli, sans-serif;
  color: #0279d6;
}

.text-block-8 {
  font-family: Muli, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.text-block-9 {
  font-family: Muli, sans-serif;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 10px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
}

.text-block-10 {
  font-family: Muli, sans-serif;
  color: #000;
  font-size: 14px;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-11 {
  padding-left: 20px;
  font-family: Muli, sans-serif;
  color: #000;
  font-weight: 500;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 12px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
}

.text-block-12 {
  font-family: Muli, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.blue-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-image: -webkit-gradient(linear, left top, right top, from(#349ef1), to(#0279d6));
  background-image: linear-gradient(90deg, #349ef1, #0279d6);
  box-shadow: 7px 7px 20px 0 rgba(3, 122, 214, 0.3);
  font-family: Muli, sans-serif;
  text-align: center;
}

.section-5 {
  margin-top: 140px;
  margin-bottom: 20px;
  padding-right: 12px;
  padding-left: 12px;
}

.link-block {
  width: 100%;
  height: 100%;
}

.link-block-2 {
  width: 100%;
  height: 100%;
}

@media (max-width: 479px) {
  .section {
    height: auto;
  }
  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image {
    position: absolute;
    left: auto;
    top: 10px;
    right: 10px;
    bottom: auto;
  }
  .image-2 {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .div-block-2 {
    text-align: center;
  }
  .image-3 {
    border-radius: 10px;
  }
  .section-2 {
    margin-top: 20px;
  }
  .paragraph {
    color: #676767;
    font-size: 15px;
    font-weight: 400;
  }
  .body {
    max-width: 360px;
    margin-top: 0px;
  }
}

#w-node-cc57b4d56739-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0c2301776414-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b237b223d42f-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-2951b2c8c227-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2951b2c8c229-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2951b2c8c22f-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-eb0cf598b47d-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-eb0cf598b47f-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-eb0cf598b485-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-8f6ad338a55b-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-8f6ad338a55d-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-8f6ad338a563-bbd0b5a3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-87f05047a4f3-448406fd {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-87f05047a4f5-448406fd {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-87f05047a4fb-448406fd {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-4261d2b959e7-14844ac1 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-b80ef345c437-14844ac1 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-d47b59cbe16d-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe16f-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe175-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d47b59cbe17a-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe17c-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe182-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d47b59cbe187-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe189-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe18f-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d47b59cbe194-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe196-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d47b59cbe19c-14844ac1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

